<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>


    {% block head %}


    {% endblock %}
</head>
<body>
<div class="global-notif">
    <p class="message">Sample</p>
    <i class="bx bx-x"></i>
</div>
<div class="main-content-container">
    {% block content %}

    {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block scripts %}

{% endblock %}
</body>
</html>